# # ## docker

ROOT_FOLDER='/usr/local/chatbot/'
ANTHROPIC_API_KEY='************'
OPENAI_API_KEY ='************'

PGADMIN_DEFAULT_EMAIL=*************
PGADMIN_DEFAULT_PASSWORD='********'
POSTGRES_USER=***********
POSTGRES_PASSWORD=t**********
POSTGRES_DB=*************
POSTGRES_HOST=postgrespdf
POSTGRES_PORT=5432

