anthropic
langchain 
langchain-openai
langchain_postgres
PyPDF2
pandas
jupyter
selenium
beautifulsoup4
webdriver-manager
langdetect
rank_bm25
openai
python-docx 
psycopg2-binary 
sqlalchemy 
pgvector 
python-dotenv 
gradio 
typing
scikit-learn
voyageai
pinecone
neo4j
html2text
IPython


